.row {
    display: flex;
    align-items: stretch;

}

.row .label {
    flex: 0 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row .container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.row .dish {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pasta { 
    background-color: orange;
}

.pizza { 
    background-color: yellow;
}

.burrito { 
    background-color: green;
}