a {
    color: black;
}

body {
    background-color: white;
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

header { 
    background-color: #265587;
    height: 6.5rem;
    width: 100%;
    text-align: right;
    overflow: hidden;
    position: fixed;
    opacity: 1;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    float: left;
    max-height: 75px;
    width: auto;
    padding: 1rem 0 1rem 2rem;
}


nav ul {
    vertical-align: top;
    text-align: center;
}

nav li {
    list-style: none;
    display: inline;
    padding: 1rem;
    font-weight: 400;
}

nav li a:visited {
    color: #7c8726;
}

nav li a:hover {
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main {
    padding-bottom: 3rem;
}

form {    
    border: 1px solid;
    box-shadow: 0 0 5px rgba(0,0,0,.36);
    background-color: #265587;
    border-radius: 1rem;
    padding: 3rem 20%;
    color: white;
}

input {
    margin: 1rem 0;
    border: 1px solid lightgray;
}

input:focus:invalid {
    border: 2px solid red;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .logo {
    max-height: 100px;
    width: auto;
    padding: 0 1rem 0 1rem;
}

footer p {
    color: #7c8726;
    font-weight: 800;
}

footer .logo:hover {
    max-height: 130px;
}

main {
    padding-top: 8rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

button {
    background-color: #7c8726;
    color: white;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin-top: 1rem;
}

button:hover {
    background-color: #5d651d;
    padding: .6rem 1rem;
}

.submitButtonDiv {  
        display: none; 
        border: 1px solid;
        box-shadow: 0 0 5px rgba(0,0,0,.36);
        background-color: #265587;
        border-radius: 1rem;
        padding: 3rem 20%;
        color: white;
}

@media (max-width:620px) {
    nav {
        flex-direction: column;
        justify-content: center;
    }

    header {
        height: 10rem;
    }

    main {
        padding-top: 10rem;
    }

    footer {
        padding: 2rem 0 2rem 0;
    }

    nav ul {
        padding-left: 0;
    }
}