a {
    color: black;
}

p {
    line-height: 1.6rem;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    font-size: 3rem;
    margin: 0 0 1rem 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

header { 
    background-color: #265587;
    height: 4.5rem;
    width: 100%;
    text-align: right;
    overflow: hidden;
    position: fixed;
    opacity: 1;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    float: left;
    max-height: 55px;
    width: auto;
    padding: .5rem 0 .5rem 1.5rem
}


nav ul {
    vertical-align: top;
    text-align: center;
}

nav li {
    list-style: none;
    display: inline;
    padding: 1rem;
    font-weight: 600;
}

a {
    text-decoration: none;
}

main a {
    font-weight: 700;
}

nav li a:visited {
    color: #7c8726;
}

nav li a:hover {
    color: white;
}

main {
    padding-bottom: 3rem;
}

.about-img {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .logo {
    max-height: 100px;
    width: auto;
    padding: 0 1rem 0 1rem;
}

footer p {
    color: #7c8726;
    font-weight: 800;
}

footer .logo:hover {
    max-height: 130px;
}

.ourwork {
    display: flex;
    align-items: center;
    padding: 7rem 1.5rem 0 1.5rem
}

/* CAROUSEL */
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
}

.slider-controls {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.slider-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 1.5rem 1.5rem;
}

.slider-button {
    padding: 1rem .5rem;
    background: none;
    border: none;
}

i {
    font-size: 3rem;
}

.slider img {
    width: auto;
    height: 22rem;
}

.slider-img.active {
    display: inline;
}

.slider-img {
    display: none;
}

button:hover {
    color:#b83434;
}


/* MEDIA QUERIES */
@media (max-width:620px) {
    nav {
        flex-direction: column;
        justify-content: center;
    }

    header {
        height: 8.5rem;
    }

    main {
        padding-top: 7rem;
    }

    footer {
        padding: 2rem 0 2rem 0;
    }

    nav ul {
        padding-left: 0;
    }

    .slider img {
        padding: 1rem;
    }

    .hero {
        text-align: center;
    }

    h1 {
        padding-top: 2rem;
        margin: 0;
    }

    .ourwork {
        flex-direction: column;
        padding: 0 1.5rem 0 1.5rem
    }

    .slider-text {
        text-align: center;
    }
}